<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./home-files/css/components-styles.css">
    </head>
    <body>
        <div class="container">
        <!-- col 1-->
        <div>
            <div style="height:20px; width: 20px; background-color: none;"></div>
            <div style="height:20px; width: 20px; background-color: none;"></div>
            <div style="height:20px; width: 20px; background-color: none;"></div>
            <div style="height:20px; width: 20px; background-color: none;"></div>
            <div style="height:20px; width: 20px; background-color: none;"></div>
            <div style="height:20px; width: 20px; background-color: none;"></div>
            <div style="height:20px; width: 20px; background-color: none;"></div>
            <div style="height:20px; width: 20px; background-color: none;"></div>
            <div style="height:20px; width: 20px; background-color: black;"></div>
            <div style="height:20px; width: 20px; background-color: none;"></div>
            <div style="height:20px; width: 20px; background-color: none;"></div>
            <div style="height:20px; width: 20px; background-color: black;"></div>
            <div style="height:20px; width: 20px; background-color: none;"></div>
            <div style="height:20px; width: 20px; background-color: none;"></div>
            <div style="height:20px; width: 20px; background-color: none;"></div>
            <div style="height:20px; width: 20px; background-color: none;"></div>
            <div style="height:20px; width: 20px; background-color: none;"></div>
            <div style="height:20px; width: 20px; background-color: none;"></div>
            <div style="height:20px; width: 20px; background-color: none;"></div>
            <div style="height:20px; width: 20px; background-color: none;"></div>
            <div style="height:20px; width: 20px; background-color: none;"></div>
            <div style="height:20px; width: 20px; background-color: none;"></div>
            <div style="height:20px; width: 20px; background-color: none;"></div>
            <div style="height:20px; width: 20px; background-color: none;"></div>
            <div style="height:20px; width: 20px; background-color: none;"></div>

        </div>


          <!-- col 2-->
          <div>
<div style="height:20px; width: 20px; background-color: none;"></div>
<div style="height:20px; width: 20px; background-color: black; border-top-left-radius: 15px;"></div>
<div style="height:20px; width: 20px; background-color: black;"></div>
<div style="height:20px; width: 20px; background-color: black;"></div>
<div style="height:20px; width: 20px; background-color: black;"></div>
<div style="height:20px; width: 20px; background-color: black;"></div>
<div style="height:20px; width: 20px; background-color: black;"></div>
<div style="height:20px; width: 20px; background-color: black;"></div>
<div style="height:20px; width: 20px; background-color: black;"></div>
<div style="height:20px; width: 20px; background-color: black;"></div>
<div style="height:20px; width: 20px; background-color: black;"></div>
<div style="height:20px; width: 20px; background-color: none;"></div>
<div style="height:20px; width: 20px; background-color: none;"></div>
<div style="height:20px; width: 20px; background-color: black;"></div>
<div style="height:20px; width: 20px; background-color: none;"></div>
<div style="height:20px; width: 20px; background-color: none;"></div>
<div style="height:20px; width: 20px; background-color: black;"></div>
<div style="height:20px; width: 20px; background-color: black;"></div>
<div style="height:20px; width: 20px; background-color: black; border-bottom-left-radius: 15px"></div>
<div style="height:20px; width: 20px; background-color: none;"></div>
<div style="height:20px; width: 20px; background-color: none;"></div>
<div style="height:20px; width: 20px; background-color: none;"></div>
<div style="height:20px; width: 20px; background-color: none;"></div>
<div style="height:20px; width: 20px; background-color: none;"></div>
<div style="height:20px; width: 20px; background-color: none;"></div>

        </div>


          <!-- col 3-->
          <div>
<div style="height:20px; width: 20px; background-color: none;"></div>
<div style="height:20px; width: 20px; background-color: black;"></div>
<div style="background-color: black"><div style="height:20px; width: 20px; background-color: #b7794b; border-top-left-radius: 12px;"></div></div>
<div style="height:20px; width: 20px; background-color: #b7794b;"></div>
<div style="height:20px; width: 20px; background-color: #b7794b;"></div>
<div style="height:20px; width: 20px; background-color: #b7794b;"></div>
<div style="height:20px; width: 20px; background-color: #b7794b;"></div>
<div style="height:20px; width: 20px; background-color: #b7794b;"></div>
<div style="height:20px; width: 20px; background-color: black;"></div>
<div style="height:20px; width: 20px; background-color: #b7794b;"></div>
<div style="height:20px; width: 20px; background-color: black;"></div>
<div style="height:20px; width: 20px; background-color: black;"></div>
<div style="height:20px; width: 20px; background-color: black;"></div>
<div style="height:20px; width: 20px; background-color: none;"></div>
<div style="height:20px; width: 20px; background-color: none;"></div>
<div style="height:20px; width: 20px; background-color: black;"></div>
<div style="height:20px; width: 20px; background-color: #b7794b;"></div>
<div style="background-color: black"><div style="height:20px; width: 20px; background-color: #b7794b; border-bottom-left-radius: 12px;"></div></div>
<div style="height:20px; width: 20px; background-color: black;"></div>
<div style="height:20px; width: 20px; background-color: none;"></div>
<div style="height:20px; width: 20px; background-color: none;"></div>
<div style="height:20px; width: 20px; background-color: none;"></div>
<div style="height:20px; width: 20px; background-color: none;"></div>
<div style="height:20px; width: 20px; background-color: none;"></div>
<div style="height:20px; width: 20px; background-color: none;"></div>

        </div>


          <!-- col 4-->
          <div>
<div style="height:20px; width: 20px; background-color: none;"></div>
<div style="height:20px; width: 20px; background-color: black;"></div>
<div style="height:20px; width: 20px; background-color: #b7794b;"></div>
<div style="height:20px; width: 20px; background-color: #b7794b;"></div>
<div style="height:20px; width: 20px; background-color: #b7794b;"></div>
<div style="height:20px; width: 20px; background-color: #b7794b;"></div>
<div style="height:20px; width: 20px; background-color: #b7794b;"></div>
<div style="height:20px; width: 20px; background-color: #b7794b;"></div>
<div style="height:20px; width: 20px; background-color: #b7794b;"></div>
<div style="height:20px; width: 20px; background-color: #b7794b;"></div>
<div style="height:20px; width: 20px; background-color: #b7794b;"></div>
<div style="height:20px; width: 20px; background-color: #b7794b;"></div>
<div style="height:20px; width: 20px; background-color: black;"></div>
<div style="height:20px; width: 20px; background-color: none;"></div>
<div style="height:20px; width: 20px; background-color: black;"></div>
<div style="height:20px; width: 20px; background-color: #b7794b;"></div>
<div style="height:20px; width: 20px; background-color: #b7794b;"></div>
<div style="background-color: black"><div style="height:20px; width: 20px; background-color: #b7794b; border-bottom-right-radius: 12px;"></div></div>
<div style="height:20px; width: 20px; background-color: black;"></div>
<div style="height:20px; width: 20px; background-color: black;"></div>
<div style="height:20px; width: 20px; background-color: black; border-bottom-left-radius: 8px;;"></div>
<div style="height:20px; width: 20px; background-color: none;"></div>
<div style="height:20px; width: 20px; background-color: none;"></div>
<div style="height:20px; width: 20px; background-color: none;"></div>
<div style="height:20px; width: 20px; background-color: none;"></div>

        </div>


          <!-- col 5-->
          <div>
<div style="height:20px; width: 20px; background-color: none;"></div>
<div style="height:20px; width: 20px; background-color: black;"></div>
<div style="height:20px; width: 20px; background-color: #b7794b;"></div>
<div style="height:20px; width: 20px; background-color: #b7794b;"></div>
<div style="height:20px; width: 20px; background-color: #b7794b;"></div>
<div style="height:20px; width: 20px; background-color: #b7794b;"></div>
<div style="height:20px; width: 20px; background-color: #b7794b;"></div>
<div style="height:20px; width: 20px; background-color: #b7794b;"></div>
<div style="height:20px; width: 20px; background-color: #b7794b;"></div>
<div style="height:20px; width: 20px; background-color: #b7794b;"></div>
<div style="height:20px; width: 20px; background-color: #b7794b;"></div>
<div style="height:20px; width: 20px; background-color: #b7794b;"></div>
<div style="height:20px; width: 20px; background-color: #b7794b;"></div>
<div style="height:20px; width: 20px; background-color: black;"></div>
<div style="height:20px; width: 20px; background-color: black;"></div>
<div style="height:20px; width: 20px; background-color: black;"></div>
<div style="height:20px; width: 20px; background-color: black;"></div>
<div style="height:20px; width: 20px; background-color: black;"></div>
<div style="background-color: hotpink;"><div style="height:20px; width: 20px; background-color: black; border-bottom-right-radius: 15px;"></div></div>
<div style="height:20px; width: 20px; background-color: hotpink;"></div>
<div style="height:20px; width: 20px; background-color: black;"></div>
<div style="height:20px; width: 20px; background-color: black;"></div>
<div style="height:20px; width: 20px; background-color: black;"></div>
<div style="height:20px; width: 20px; background-color: black;"></div>
<div style="height:10px; width: 20px; background-color: black; border-bottom-left-radius: 12px;"></div>

        </div>


          <!-- col 6-->
          <div>
            <div style="height:20px; width: 20px; background-color: none;"></div>
            <div style="height:20px; width: 20px; background-color: none;"></div>
            <div style="height:20px; width: 20px; background-color: black;"></div>
            <div style="height:20px; width: 20px; background-color: #b7794b;"></div>
            <div style="height:20px; width: 20px; background-color: #b7794b;"></div>
            <div style="height:20px; width: 20px; background-color: #b7794b;"></div>
            <div style="height:20px; width: 20px; background-color: #b7794b;"></div>
            <div style="height:20px; width: 20px; background-color: #b7794b;"></div>
            <div style="height:20px; width: 20px; background-color: #b7794b;"></div>
            <div style="height:20px; width: 20px; background-color: black;"></div>
            <div style="height:20px; width: 20px; background-color: black;"></div>
            <div style="height:20px; width: 20px; background-color: #b7794b;"></div>
            <div style="height:20px; width: 20px; background-color: #b7794b;"></div>
            <div style="height:20px; width: 20px; background-color: black;"></div>
            <div style="height:20px; width: 20px; background-color: plum;"></div>
            <div style="height:20px; width: 20px; background-color: plum;"></div>
            <div style="height:20px; width: 20px; background-color: black;"></div>
            <div style="height:20px; width: 20px; background-color: hotpink;"></div>
            <div style="height:20px; width: 20px; background-color: hotpink;"></div>
            <div style="height:20px; width: 20px; background-color: hotpink;"></div>
            <div style="height:20px; width: 20px; background-color: hotpink;"></div>
            <div style="height:20px; width: 20px; background-color: black;"></div>
            <div style="height:20px; width: 20px; background-color: #b7794b;"></div>
            <div style="background-color: black;"><div style="height:20px; width: 20px; background-color: #b7794b; border-bottom-left-radius: 8px;"></div></div>
            <div style="height:10px; width: 20px; background-color: black;"></div>
        </div>


          <!-- col 7-->
          <div>
<div style="height:20px; width: 20px; background-color: none;"></div>
<div style="height:20px; width: 20px; background-color: none;"></div>
<div style="height:20px; width: 20px; background-color: black;"></div>
<div style="height:20px; width: 20px; background-color: #b7794b;"></div>
<div style="height:20px; width: 20px; background-color: #b7794b;"></div>
<div style="height:20px; width: 20px; background-color: #b7794b;"></div>
<div style="height:20px; width: 20px; background-color: #b7794b;"></div>
<div style="height:20px; width: 20px; background-color: #b7794b;"></div>
<div style="height:20px; width: 20px; background-color: #b7794b;"></div>
<div style="height:20px; width: 20px; background-color: #b7794b;"></div>
<div style="height:20px; width: 20px; background-color: #b7794b;"></div>
<div style="height:20px; width: 20px; background-color: #b7794b;"></div>
<div style="height:20px; width: 20px; background-color: #b7794b;"></div>
<div style="height:20px; width: 20px; background-color: #b7794b;"></div>
<div style="height:20px; width: 20px; background-color: black;"></div>
<div style="height:20px; width: 20px; background-color: black;"></div>
<div style="height:20px; width: 20px; background-color: hotpink;"></div>
<div style="height:20px; width: 20px; background-color: hotpink;"></div>
<div style="height:20px; width: 20px; background-color: hotpink;"></div>
<div style="height:20px; width: 20px; background-color: hotpink;"></div>
<div style="height:20px; width: 20px; background-color: hotpink;"></div>
<div style="height:20px; width: 20px; background-color: black;"></div>
<div style="height:20px; width: 20px; background-color: #b7794b;"></div>
<div style="height:20px; width: 20px; background-color: #b7794b;"></div>
<div style="height:10px; width: 20px; background-color: black;"></div>

        </div>


          <!-- col 8-->
          <div>
            <div style="height:20px; width: 20px; background-color: none;"></div>
            <div style="height:20px; width: 20px; background-color: black;"></div>
            <div style="height:20px; width: 20px; background-color: #b7794b;"></div>
            <div style="height:20px; width: 20px; background-color: #b7794b;"></div>
            <div style="height:20px; width: 20px; background-color: #b7794b;"></div>
            <div style="height:20px; width: 20px; background-color: #b7794b;"></div>
            <div style="height:20px; width: 20px; background-color: #b7794b;"></div>
            <div style="height:20px; width: 20px; background-color: #b7794b;"></div>
            <div style="height:20px; width: 20px; background-color: #b7794b;"></div>
            <div style="height:20px; width: 20px; background-color: #b7794b;"></div>
            <div style="height:20px; width: 20px; background-color: #b7794b;"></div>
            <div style="height:20px; width: 20px; background-color: #b7794b;"></div>
            <div style="height:20px; width: 20px; background-color: #b7794b;"></div>
            <div style="height:20px; width: 20px; background-color: #b7794b;"></div>
            <div style="height:20px; width: 20px; background-color: black;"></div>
            <div style="height:20px; width: 20px; background-color: black;"></div>
            <div style="height:20px; width: 20px; background-color: hotpink;"></div>
            <div style="height:20px; width: 20px; background-color: hotpink;"></div>
            <div style="height:20px; width: 20px; background-color: hotpink;"></div>
            <div style="height:20px; width: 20px; background-color: hotpink;"></div>
            <div style="height:20px; width: 20px; background-color: hotpink;"></div>
            <div style="height:20px; width: 20px; background-color: black;"></div>
            <div style="height:20px; width: 20px; background-color: #b7794b;"></div>
            <div style="height:20px; width: 20px; background-color: #b7794b;"></div>
            <div style="height:10px; width: 20px; background-color: black;"></div>

        </div>


          <!-- col 9-->
          <div>
            <div style="height:20px; width: 20px; background-color: none;"></div>
            <div style="height:20px; width: 20px; background-color: black;"></div>
            <div style="height:20px; width: 20px; background-color: #b7794b;"></div>
            <div style="height:20px; width: 20px; background-color: black;"></div>
            <div style="height:20px; width: 20px; background-color: black;"></div>
            <div style="height:20px; width: 20px; background-color: #b7794b;"></div>
            <div style="height:20px; width: 20px; background-color: #b7794b;"></div>
            <div style="height:20px; width: 20px; background-color: #b7794b;"></div>
            <div style="height:20px; width: 20px; background-color: #b7794b;"></div>
            <div style="height:20px; width: 20px; background-color: #b7794b;"></div>
            <div style="height:20px; width: 20px; background-color: #b7794b;"></div>
            <div style="height:20px; width: 20px; background-color: #b7794b;"></div>
            <div style="height:20px; width: 20px; background-color: #b7794b;"></div>
            <div style="height:20px; width: 20px; background-color: #b7794b;"></div>
            <div style="height:20px; width: 20px; background-color: black;"></div>
            <div style="height:20px; width: 20px; background-color: plum;"></div>
            <div style="height:20px; width: 20px; background-color: black;"></div>
            <div style="height:20px; width: 20px; background-color: hotpink;"></div>
            <div style="height:20px; width: 20px; background-color: hotpink;"></div>
            <div style="height:20px; width: 20px; background-color: hotpink;"></div>
            <div style="height:20px; width: 20px; background-color: hotpink;"></div>
            <div style="height:20px; width: 20px; background-color: black;"></div>
            <div style="background-color: black"><div style="height:20px; width: 10px; background-color: #b7794b;"></div></div>
            <div style="background-color: black"><div style="height:20px; width: 10px; background-color: #b7794b; border-bottom-right-radius: 8px;"></div></div>
            <div style="height:10px; width: 20px; background-color: black;"></div>


        </div>


          <!-- col 10-->
          <div>
            <div style="height:20px; width: 20px; background-color: none;"></div>
            <div style="height:20px; width: 20px; background-color: black;"></div>
            <div style="height:20px; width: 20px; background-color: #b7794b;"></div>
            <div style="height:20px; width: 20px; background-color: black;"></div>
            <div style="height:20px; width: 20px; background-color: hotpink;"></div>
            <div style="height:20px; width: 20px; background-color: black;"></div>
            <div style="height:20px; width: 20px; background-color: #b7794b;"></div>
            <div style="height:20px; width: 20px; background-color: #b7794b;"></div>
            <div style="height:20px; width: 20px; background-color: #b7794b;"></div>
            <div style="height:20px; width: 20px; background-color: #b7794b;"></div>
            <div style="height:20px; width: 20px; background-color: #b7794b;"></div>
           <div style="background-color: #b7794b"><div style="height:20px; width: 20px; background-color: rgb(255, 251, 0); border-top-left-radius: 8px; border-bottom-left-radius: 8px;"></div></div>
            <div style="height:20px; width: 20px; background-color: #b7794b;"></div>
            <div style="height:20px; width: 20px; background-color: #b7794b;"></div>
            <div style="height:20px; width: 20px; background-color: black;"></div>
            <div style="height:20px; width: 20px; background-color: plum;"></div>
            <div style="height:20px; width: 20px; background-color: black;"></div>
            <div style="height:20px; width: 20px; background-color: hotpink;"></div>
            <div style="height:20px; width: 20px; background-color: hotpink;"></div>
            <div style="height:20px; width: 20px; background-color: hotpink;"></div>
            <div style="height:20px; width: 20px; background-color: hotpink;"></div>
            <div style="height:20px; width: 20px; background-color: black;"></div>
            <div style="height:20px; width: 10px; background-color: black;"></div>
            <div style="height:20px; width: 10px; background-color: black;"></div>
            <div style="height:10px; width: 10px; background-color: black; border-bottom-right-radius: 12px;"></div>
        </div>


          <!-- col 11-->
          <div>
            <div style="height:12px; width: 18px; background-color: hotpink; border-top-left-radius: 15px; border-top: 8px solid black; border-left: 2px solid black;"></div>
            <div style="height:20px; width: 18px; background-color: hotpink; border-left: 2px solid black;"></div>
<div style="height:20px; width: 20px; background-color: black;"></div>
<div style="height:20px; width: 20px; background-color: hotpink;"></div>
<div style="height:20px; width: 20px; background-color: hotpink;"></div>
<div style="height:20px; width: 20px; background-color: black;"></div>
<div style="height:20px; width: 20px; background-color: #b7794b;"></div>
<div style="height:20px; width: 20px; background-color: #b7794b;"></div>
<div style="height:20px; width: 20px; background-color: #b7794b;"></div>
<div style="height:20px; width: 20px; background-color: #b7794b;"></div>
<div style="height:20px; width: 20px; background-color: #b7794b;"></div>
<div style="background-color: #b7794b"><div style="height:20px; width: 20px; background-color: rgb(255, 251, 0); border-top-right-radius: 8px; border-bottom-right-radius: 8px;"></div></div>
<div style="height:20px; width: 20px; background-color: #b7794b;"></div>
<div style="height:20px; width: 20px; background-color: #b7794b;"></div>
<div style="height:20px; width: 20px; background-color: black;"></div>
<div style="height:20px; width: 20px; background-color: plum;"></div>
<div style="height:20px; width: 20px; background-color: black;"></div>
<div style="height:20px; width: 20px; background-color: hotpink;"></div>
<div style="height:20px; width: 20px; background-color: hotpink;"></div>
<div style="height:20px; width: 20px; background-color: hotpink;"></div>
<div style="height:20px; width: 20px; background-color: hotpink;"></div>
<div style="height:20px; width: 20px; background-color: black;"></div>
<div style="background-color: black;"><div style="height:20px; width: 10px; background-color: black;"></div></div>
<div style="background-color: black;"><div style="height:20px; width: 10px; background-color: black;"></div></div>
<div style="height:10px; width: 20px; background-color: black; border-bottom-left-radius: 15px"></div>

        </div>


          <!-- col 12-->
          <div>
            <div style="height:12px; width: 18px; background-color: hotpink; border-top-right-radius: 15px; border-top: 8px solid black; border-right: 2px solid black;"></div>
            <div style="height:20px; width: 18px; background-color: hotpink; border-right: 2px solid black;"></div>
            <div style="height:20px; width: 20px; background-color: hotpink;"></div>
            <div style="height:20px; width: 20px; background-color: yellow;"></div>
            <div style="height:20px; width: 20px; background-color: hotpink;"></div>
            <div style="height:20px; width: 20px; background-color: hotpink;"></div>
            <div style="height:20px; width: 20px; background-color: black;"></div>
            <div style="height:20px; width: 20px; background-color: #b7794b;"></div>
            <div style="height:20px; width: 20px; background-color: #b7794b;"></div>
            <div style="height:20px; width: 20px; background-color: #b7794b;"></div>
            <div style="height:20px; width: 20px; background-color: #b7794b;"></div>
            <div style="height:20px; width: 20px; background-color: #b7794b;"></div>
            <div style="height:20px; width: 20px; background-color: #b7794b;"></div>
            <div style="height:20px; width: 20px; background-color: #b7794b;"></div>
            <div style="height:20px; width: 20px; background-color: black;"></div>
            <div style="height:20px; width: 20px; background-color: black;"></div>
            <div style="height:20px; width: 20px; background-color: hotpink;"></div>
            <div style="height:20px; width: 20px; background-color: hotpink;"></div>
            <div style="height:20px; width: 20px; background-color: hotpink;"></div>
            <div style="height:20px; width: 20px; background-color: hotpink;"></div>
            <div style="height:20px; width: 20px; background-color: hotpink;"></div>
            <div style="height:20px; width: 20px; background-color: black;"></div>
            <div style="height:20px; width: 20px; background-color: #b7794b;"></div>
            <div style="background-color: black"><div style="height:20px; width: 20px; background-color: #b7794b; border-bottom-left-radius: 8px;"></div></div>
            <div style="height:10px; width: 20px; background-color: black;"></div>
        </div>


          <!-- col 13-->
          <div>
            <div style="height:20px; width: 20px; background-color: none;"></div>
            <div style="height:20px; width: 20px; background-color: black;"></div>
            <div style="height:20px; width: 20px; background-color: yellow;"></div>
            <div style="height:20px; width: 20px; background-color: yellow;"></div>
            <div style="height:20px; width: 20px; background-color: hotpink;"></div>
            <div style="height:20px; width: 20px; background-color: hotpink;"></div>
            <div style="height:20px; width: 20px; background-color: black;"></div>
            <div style="height:20px; width: 20px; background-color: #b7794b;"></div>
            <div style="height:20px; width: 20px; background-color: #b7794b;"></div>
            <div style="height:20px; width: 20px; background-color: #b7794b;"></div>
            <div style="height:20px; width: 20px; background-color: #b7794b;"></div>
            <div style="height:20px; width: 20px; background-color: #b7794b;"></div>
            <div style="height:20px; width: 20px; background-color: #b7794b;"></div>
            <div style="height:20px; width: 20px; background-color: #b7794b;"></div>
            <div style="height:20px; width: 20px; background-color: black;"></div>
            <div style="height:20px; width: 20px; background-color: black;"></div>
            <div style="height:20px; width: 20px; background-color: hotpink;"></div>
            <div style="height:20px; width: 20px; background-color: hotpink;"></div>
            <div style="height:20px; width: 20px; background-color: hotpink;"></div>
            <div style="height:20px; width: 20px; background-color: hotpink;"></div>
            <div style="height:20px; width: 20px; background-color: hotpink;"></div>
            <div style="height:20px; width: 20px; background-color: black;"></div>
            <div style="height:20px; width: 20px; background-color: #b7794b;"></div>
            <div style="height:20px; width: 20px; background-color: #b7794b;"></div>
            <div style="height:10px; width: 20px; background-color: black;"></div>
        </div>


          <!-- col 14-->
          <div>
            <div style="height:12px; width: 18px; background-color: hotpink; border-top-left-radius: 15px; border-top: 8px solid black; border-left: 2px solid black;"></div>
            <div style="height:20px; width: 18px; background-color: hotpink; border-left: 2px solid black;"></div>
            <div style="height:20px; width: 20px; background-color: hotpink;"></div>
            <div style="height:20px; width: 20px; background-color: hotpink;"></div>
            <div style="height:20px; width: 20px; background-color: hotpink;"></div>
            <div style="height:20px; width: 20px; background-color: black;"></div>
            <div style="height:20px; width: 20px; background-color: #b7794b;"></div>
            <div style="height:20px; width: 20px; background-color: #b7794b;"></div>
            <div style="height:20px; width: 20px; background-color: #b7794b;"></div>
            <div style="height:20px; width: 20px; background-color: black;"></div>
            <div style="height:20px; width: 20px; background-color: black;"></div>
            <div style="height:20px; width: 20px; background-color: #b7794b;"></div>
            <div style="height:20px; width: 20px; background-color: #b7794b;"></div>
            <div style="height:20px; width: 20px; background-color: #b7794b;"></div>
            <div style="height:20px; width: 20px; background-color: black;"></div>
            <div style="height:20px; width: 20px; background-color: plum;"></div>
            <div style="height:20px; width: 20px; background-color: black;"></div>
            <div style="height:20px; width: 20px; background-color: hotpink;"></div>
            <div style="height:20px; width: 20px; background-color: hotpink;"></div>
            <div style="height:20px; width: 20px; background-color: hotpink;"></div>
            <div style="height:20px; width: 20px; background-color: hotpink;"></div>
            <div style="height:20px; width: 20px; background-color: black;"></div>
            <div style="height:20px; width: 20px; background-color: #b7794b;"></div>
            <div style="background-color: black;"><div style="height:20px; width: 20px; background-color: #b7794b; border-bottom-right-radius: 8px;"></div></div>
            <div style="height:10px; width: 20px; background-color: black;"></div>
        </div>


          <!-- col 15-->
          <div>
            <div style="height:12px; width: 18px; background-color: hotpink; border-top-right-radius: 15px; border-top: 8px solid black; border-right: 2px solid black;"></div>
            <div style="height:20px; width: 18px; background-color: hotpink; border-right: 2px solid black;"></div>
            <div style="height:20px; width: 18px; background-color: hotpink; border-right: 2px solid black;"></div>
            <div style="height:20px; width: 20px; background-color: black;"></div>
            <div style="height:20px; width: 20px; background-color: hotpink;"></div>
            <div style="height:20px; width: 20px; background-color: black;"></div>
            <div style="height:20px; width: 20px; background-color: #b7794b;"></div>
            <div style="height:20px; width: 20px; background-color: #b7794b;"></div>
            <div style="height:20px; width: 20px; background-color: #b7794b;"></div>
            <div style="height:20px; width: 20px; background-color: #b7794b;"></div>
            <div style="height:20px; width: 20px; background-color: #b7794b;"></div>
            <div style="height:20px; width: 20px; background-color: #b7794b;"></div>
            <div style="height:20px; width: 20px; background-color: #b7794b;"></div>
            <div style="height:20px; width: 20px; background-color: black;"></div>
            <div style="height:20px; width: 20px; background-color: plum;"></div>
            <div style="height:20px; width: 20px; background-color: plum;"></div>
            <div style="height:20px; width: 20px; background-color: black;"></div>
            <div style="height:20px; width: 20px; background-color: black;"></div>
            <div style="background-color: hotpink"><div style="height:20px; width: 20px; background-color: black; border-bottom-left-radius:15px;"></div></div>
            <div style="height:20px; width: 20px; background-color: hotpink;"></div>
            <div style="height:20px; width: 20px; background-color: black;"></div>
            <div style="height:20px; width: 20px; background-color: black;"></div>
            <div style="height:20px; width: 20px; background-color: black;"></div>
            <div style="height:20px; width: 20px; background-color: black;"></div>
            <div style="height:10px; width: 20px; background-color: black; border-bottom-right-radius: 12px;"></div>
        </div>


          <!-- col 16-->
          <div>
            <div style="height:20px; width: 20px; background-color: none;"></div>
            <div style="height:20px; width: 20px; background-color: black;"></div>
            <div style="height:20px; width: 20px; background-color: black;"></div>
            <div style="height:20px; width: 20px; background-color: #b7794b;"></div>
            <div style="height:20px; width: 20px; background-color: black;"></div>
            <div style="height:20px; width: 20px; background-color: #b7794b;"></div>
            <div style="height:20px; width: 20px; background-color: #b7794b;"></div>
            <div style="height:20px; width: 20px; background-color: #b7794b;"></div>
            <div style="height:20px; width: 20px; background-color: #b7794b;"></div>
            <div style="height:20px; width: 20px; background-color: #b7794b;"></div>
            <div style="height:20px; width: 20px; background-color: #b7794b;"></div>
            <div style="height:20px; width: 20px; background-color: #b7794b;"></div>
            <div style="height:20px; width: 20px; background-color: #b7794b;"></div>
            <div style="height:20px; width: 20px; background-color: black;"></div>
            <div style="height:20px; width: 20px; background-color: black;"></div>
            <div style="height:20px; width: 20px; background-color: black;"></div>
            <div style="height:20px; width: 20px; background-color: #b7794b;"></div>
            <div style="background-color: black"><div style="height:20px; width: 20px; background-color: #b7794b; border-bottom-left-radius: 12px;"></div></div>
            <div style="height:20px; width: 20px; background-color: black;"></div>
            <div style="height:20px; width: 20px; background-color: black;"></div>
            <div style="height:20px; width: 20px; background-color: black; border-bottom-right-radius: 8px;"></div>
            <div style="height:20px; width: 20px; background-color: none;"></div>
            <div style="height:20px; width: 20px; background-color: none;"></div>
            <div style="height:20px; width: 20px; background-color: none;"></div>
            <div style="height:10px; width: 20px; background-color: none;"></div>
        </div>


          <!-- col 17-->
          <div>
            <div style="height:20px; width: 20px; background-color: none;"></div>
            <div style="height:20px; width: 20px; background-color: black;"></div>
            <div style="background-color: black;"><div style="height:20px; width: 20px; background-color: #b7794b; border-top-right-radius: 12px;"></div></div>
            <div style="height:20px; width: 20px; background-color: #b7794b;"></div>
            <div style="height:20px; width: 20px; background-color: #b7794b;"></div>
            <div style="height:20px; width: 20px; background-color: #b7794b;"></div>
            <div style="height:20px; width: 20px; background-color: #b7794b;"></div>
            <div style="height:20px; width: 20px; background-color: #b7794b;"></div>
            <div style="height:20px; width: 20px; background-color: #b7794b;"></div>
            <div style="height:20px; width: 20px; background-color: #b7794b;"></div>
            <div style="height:20px; width: 20px; background-color: #b7794b;"></div>
            <div style="height:20px; width: 20px; background-color: #b7794b;"></div>
            <div style="height:20px; width: 20px; background-color: black;"></div>
            <div style="height:20px; width: 20px; background-color: none;"></div>
            <div style="height:20px; width: 20px; background-color: none;"></div>
            <div style="height:20px; width: 20px; background-color: black;"></div>
            <div style="height:20px; width: 20px; background-color: #b7794b;"></div>
            <div style="background-color: black"><div style="height:20px; width: 20px; background-color: #b7794b; border-bottom-right-radius: 12px;"></div></div>
            <div style="height:20px; width: 20px; background-color: black;"></div>
            <div style="height:20px; width: 20px; background-color: none;"></div>
            <div style="height:20px; width: 20px; background-color: none;"></div>
            <div style="height:20px; width: 20px; background-color: none;"></div>
            <div style="height:20px; width: 20px; background-color: none;"></div>
            <div style="height:20px; width: 20px; background-color: none;"></div>
            <div style="height:10px; width: 20px; background-color: none;"></div>
        </div>


          <!-- col 18-->
          <div>
            <div style="height:20px; width: 20px; background-color: none;"></div>
            <div style="height:20px; width: 20px; background-color: black; border-top-right-radius: 15px;"></div>
            <div style="height:20px; width: 20px; background-color: black;"></div>
            <div style="height:20px; width: 20px; background-color: black;"></div>
            <div style="height:20px; width: 20px; background-color: black;"></div>
            <div style="height:20px; width: 20px; background-color: black;"></div>
            <div style="height:20px; width: 20px; background-color: black;"></div>
            <div style="height:20px; width: 20px; background-color: #b7794b;"></div>
            <div style="height:20px; width: 20px; background-color: black;"></div>
            <div style="height:20px; width: 20px; background-color: #b7794b;"></div>
            <div style="height:20px; width: 20px; background-color: black;"></div>
            <div style="height:20px; width: 20px; background-color: black;"></div>
            <div style="height:20px; width: 20px; background-color: black;"></div>
            <div style="height:20px; width: 20px; background-color: none;"></div>
            <div style="height:20px; width: 20px; background-color: none;"></div>
            <div style="height:20px; width: 20px; background-color: none;"></div>
            <div style="height:20px; width: 20px; background-color: black;"></div>
            <div style="height:20px; width: 20px; background-color: black;"></div>
            <div style="height:20px; width: 20px; background-color: black; border-bottom-right-radius: 15px;"></div>
            <div style="height:20px; width: 20px; background-color: none;"></div>
            <div style="height:20px; width: 20px; background-color: none;"></div>
            <div style="height:20px; width: 20px; background-color: none;"></div>
            <div style="height:20px; width: 20px; background-color: none;"></div>
            <div style="height:20px; width: 20px; background-color: none;"></div>
            <div style="height:10px; width: 20px; background-color: none;"></div>
        </div>


          <!-- col 19-->
          <div>
            <div style="height:20px; width: 20px; background-color: none;"></div>
            <div style="height:20px; width: 20px; background-color: none;"></div>
            <div style="height:20px; width: 20px; background-color: none;"></div>
            <div style="height:20px; width: 20px; background-color: none;"></div>
            <div style="height:20px; width: 20px; background-color: none;"></div>
            <div style="height:20px; width: 20px; background-color: none;"></div>
            <div style="height:20px; width: 20px; background-color: none;"></div>
            <div style="height:20px; width: 20px; background-color: black;"></div>
            <div style="height:20px; width: 20px; background-color: black;"></div>
            <div style="height:20px; width: 20px; background-color: black;"></div>
            <div style="height:20px; width: 20px; background-color: black;"></div>
            <div style="height:20px; width: 20px; background-color: none;"></div>
            <div style="height:20px; width: 20px; background-color: none;"></div>
            <div style="height:20px; width: 20px; background-color: black;"></div>
            <div style="height:20px; width: 20px; background-color: none;"></div>
            <div style="height:20px; width: 20px; background-color: none;"></div>
            <div style="height:20px; width: 20px; background-color: none;"></div>
            <div style="height:20px; width: 20px; background-color: none;"></div>
            <div style="height:20px; width: 20px; background-color: none;"></div>
            <div style="height:20px; width: 20px; background-color: none;"></div>
            <div style="height:20px; width: 20px; background-color: none;"></div>
            <div style="height:20px; width: 20px; background-color: none;"></div>
            <div style="height:20px; width: 20px; background-color: none;"></div>
            <div style="height:20px; width: 20px; background-color: none;"></div>
            <div style="height:10px; width: 20px; background-color: none;"></div>
        </div>


          <!-- col 20-->
          <div>
            <div style="height:20px; width: 20px; background-color: none;"></div>
            <div style="height:20px; width: 20px; background-color: none;"></div>
            <div style="height:20px; width: 20px; background-color: none;"></div>
            <div style="height:20px; width: 20px; background-color: none;"></div>
            <div style="height:20px; width: 20px; background-color: none;"></div>
            <div style="height:20px; width: 20px; background-color: none;"></div>
            <div style="height:20px; width: 20px; background-color: none;"></div>
            <div style="height:20px; width: 20px; background-color: none;"></div>
            <div style="height:20px; width: 20px; background-color: black;"></div>
            <div style="height:20px; width: 20px; background-color: none;"></div>
            <div style="height:20px; width: 20px; background-color: none;"></div>
            <div style="height:20px; width: 20px; background-color: black;"></div>
            <div style="height:20px; width: 20px; background-color: none;"></div>
            <div style="height:20px; width: 20px; background-color: none;"></div>
            <div style="height:20px; width: 20px; background-color: none;"></div>
            <div style="height:20px; width: 20px; background-color: none;"></div>
            <div style="height:20px; width: 20px; background-color: none;"></div>
            <div style="height:20px; width: 20px; background-color: none;"></div>
            <div style="height:20px; width: 20px; background-color: none;"></div>
            <div style="height:20px; width: 20px; background-color: none;"></div>
            <div style="height:20px; width: 20px; background-color: none;"></div>
            <div style="height:20px; width: 20px; background-color: none;"></div>
            <div style="height:20px; width: 20px; background-color: none;"></div>
            <div style="height:20px; width: 20px; background-color: none;"></div>
            <div style="height:10px; width: 20px; background-color: none;"></div>

        </div>


        </div>
    </body>
</html>